<div style="display: flex; justify-content: center; margin-top: 1em;">
  <label>
    <input type="checkbox" id="groupPC" class="group-PCs"></input>
      Move PCs to the top of the list
  </label>
</div>