<div style="display: flex; justify-content: space-between; padding: 0 10px;">
    <button type="button" class="clear-tracking-button" style="min-width: 180px;">
      <i class="fas fa-trash"></i> Clear Tracking Data
    </button>

    <button type="button" class="clear-NPCs-button" style="min-width: 180px;">
      <i class="fas fa-cogs"></i> Clear NPC Tracking Data
    </button>
</div>